* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html  {
    scroll-behavior: smooth;
}

@font-face {
    font-family: Mulish;
    src: url("../font/Mulish/static/Mulish-Regular.ttf");
}

@font-face {
    font-family: Merriweather;
    src: url("../font/Merriweather/Merriweather-Regular.ttf");
}


.cart {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 3;
    display: none;
    overflow: hidden;
}

#cart-wrapper {
    display: none;
    z-index: 3;
    width: 360px;
    height: 100%;
    animation: cart 1s;
    position: fixed;
    background-color: rgb(255 255 255/95%);
    right: 0;
    left: auto;
}

@keyframes cart {
    0% {
        margin-right: -400px;
    }
    100% {
        margin-right: 0;
    }
}

.cart-close {
    float: right;
    border-style: none;
    width: 50px;
    height: 50px;
    text-align: center;
    cursor: pointer;
}

.close {
    color: rgb(76 76 76/50%);
    font-size: 30px;
}

.cart-close:hover .close {
    cursor: pointer;
    color: rgb(27 25 25);
}

.cart-title {
    padding: 30px;
    text-align: center;
}

.title {
    font-size: 30px;
    font-weight: 400;
    font-family: "Merriweather",serif;
    color: rgb(27 25 25);
    margin-left: 13px;
}

.cart-line {
    height: 3px;
    background-color: rgb(27 25 25 );
    width: 100%;
    max-width: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 17px;
}

.cart-text {
    color: rgb(76 76 76);
    font-size: 16px;
    font-family: 'Mulish',sans-serif;
    padding-top: 20px;
}

.widget {
    width: 310px;
    margin-left: 35px;
    z-index: 10;
    overflow-y: auto;
    height: 450px;
}


.style-1::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.style-1::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

.style-1::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

.widget-product{
    width: 100%;
    list-style: none;
    display: flex;
    padding-bottom: 20px;
}

.widget-products {
    width: 100%;
    height: 80px;
}

.btn-widget {
    border-style: none;
    float: right;
    z-index: 10;
}

.widget-product-icon {
    width: 25px;
    height: 25px;
    font-size: 15px !important;
    line-height: 21px !important;
    border-radius: 100%;
    color: rgb(204 204 204);
    font-weight: bold;
    text-align: center;
    border: 2px solid currentColor;
    margin-right: 7px;
}

.widget-product-icon:hover { 
    color: rgb(0 0 0);
    cursor: pointer;
}

.widget-product-img {
    width: 60px;
    height: 70px;
    float: left;
}

.widget-product-text {
    text-decoration: none;
    color: rgb(37 34 34);
    font-size: 16px;
    font-family: 'Mulish',sans-serif;
    float: left;
    padding-left: 15px;
    margin-bottom: 5px;
}

.amount {
    display: inline-block;
    padding-left: 15px;
    font-size: 14px;
    font-family: "Mulish",sans-serif;
    font-weight: bold;
    white-space: nowrap;
    color: rgb(76 76 76);
    opacity: 0.6;
}

.input-value {
    border: none;
    outline: none;
    width: 35px;
    font-size: 15px;
    font-family: "Mulish",sans-serif;
    font-weight: bold;
    white-space: nowrap;
    color: rgb(76 76 76);
    appearance: textfield;
    background-color: rgb(255 255 255/34%);
} 

.input-value::-webkit-outer-spin-button,.input-value::-webkit-inner-spin-button {
    -webkit-appearance:none;
}

.amount-price-d {
    margin: 0 5px;
}

.x-icon {
    margin-right: 5px;
}

.footer-cart {
    padding: 0px 30px 30px 30px;
    display: none;
}

.provisional {
    border-top: 1px solid rgb(236 236 236);
    border-bottom: 2px solid rgb(236 236 236);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

strong {
    color: rgb(76 76 76);
    font-size: 16px;
    font-family: 'Mulish',sans-serif;
    font-weight: bold;
    margin-right: 7px;
}

.provisional-price, .provisional-price-d {
    font-family: "Mulish",sans-serif;
    font-size: 16px;
    color: rgb(17 17 17);
    font-weight: bold;
    white-space: nowrap;
}

.btn-pay-viewcart {
    width: 100%;
    height: 100px;
}

.pay-text {
    display: inline-block;
    height: 40px;
    width: 100%;
    background-color: rgb(23 154 148);
    font-size: 20px;
    font-family: 'Mulish',sans-serif;
    font-weight: bolder;
    color: rgb(255 255 255);
    text-decoration: none;
    margin: 20px 0 5px 0;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}

.pay-text:hover {
    box-shadow: inset 0 0 0 100px rgb(0 0 0 / 20%);
}

.viewcart-text {
    display: inline-block;
    height: 40px;
    width: 100%;
    background-color: rgb(0 0 0);
    font-size: 20px;
    font-family: 'Mulish',sans-serif;
    font-weight: bolder;
    color: rgb(255 255 255);
    text-decoration: none;
    margin-top: 5px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}
#header {
    text-transform: uppercase;
    font-family: "Mulish",sans-serif;  
}

.header-wrapper {
    width: 100%;
    height: 135px;
}

#top-bar {
    min-height: 30px;
    height: 35px;
    background-color:  rgb(23 154 148); 
    color: rgb(255 255 255);
    
}

.top-bar-header {
    display: flex;
    max-width: 1400px;
    justify-content: space-between;
    font-size: 12px;
    margin: 0 auto;
}

.top-bar-right,.top-bar-left {
    font-family: "Muli", sans-serif;
    margin-top: 10px;
}

.phone-icon, .text-top-bar {
    margin-right: 8px;
}

.tel-top-bar {
    text-decoration: none;
    color: rgb(255 255 255);
}

.icon-bar-left {
    padding-left: 7px;
    color: rgb(255 255 255);
    
}

.icon-bar-left:hover {
    cursor: pointer;    
    transform: scale(1.5);
}

.header-scrolls {
    display: none;
    z-index: 2;    
}

#scroll {
    height: 100px;
}

.scroll {
    background-color: rgba(23,20,20,0.99);
    display: flex;
    justify-content: space-around;
}

.apper-header {
    position: fixed;
    width: 100%;
    display: block;
    animation: scroll ease-in-out 1s;
}

@keyframes scroll {
    0% {
        margin-top: -120px;

    }
    100% {
        margin-top: 0px;
    }
}

.flex-left {
    max-height: 100%;
}

.nav {
    width: 100%;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    list-style: none; 
    font-size: 15px;
}

.menu-item-s {
    height: 110px;
}

.menu-item:hover, .menu-item-s:hover  {
    cursor: pointer;
}

.menu-item-s:hover .subnavs, .menu-item:hover .subnav {
    display: block;
}

.nav-text-a, .nav-text-b, .nav-text-c{
    justify-content: center;
    text-decoration: none;
    margin: 0 20px;
    display: block;
    color: rgb(255 255 255/80%);
    line-height: 80px;
    padding-top: 10px;
}

.nav-text-a {
    color: rgb(255 255 255);
}

.nav-text-a:after, .nav-text-b:after, .nav-text-c:after, .nav-text-d:after  {
    content: ""; 
    display: block; 
    width: 0%; 
    border-bottom: 1px solid rgb(145 145 145);
    transition: .5s; 
    margin-top: -20px;
}

.nav-text-a:hover:after, .nav-text-b:hover:after, .nav-text-c:hover:after {
    width: 100%; 
}

.nav-text-b:hover, .nav-text-c:hover {
    color: rgb(255 255 255);
}

.box{
    /* width: 300px; */
    height: 45px;
}

.container-2{
    /* width: 350px; */
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
}

.container-2 input#search{
    width: 50px;
    height: 45px;
    background: #2b303b;
    border: none;
    font-size: 15px;
    float: left;
    color: #262626;
    padding-left: 40px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 20px;
    color: #fff;
    -webkit-transition: width .55s ease;
    -moz-transition: width .55s ease;
    -ms-transition: width .55s ease;
    -o-transition: width .55s ease;
    transition: width .55s ease;
    
}
  
.container-2 input#search::-webkit-input-placeholder {
     color: #65737e;
}

.container-2 input#search:-moz-placeholder { /* Firefox 18- */
     color: #65737e;  
}

.container-2 input#search::-moz-placeholder {  /* Firefox 19+ */
     color: #65737e;  
}

.container-2 input#search:-ms-input-placeholder {  
     color: #65737e;  
}

.container-2 .icon{
    position: absolute;
    top: 50%;
    z-index: 1;
    color: #4f5b66;
    width: 40px;
    height: 45px;
  }
  
.iconsearch {
    display: flex;
    width: 100%;
    height: 45px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #4f5b66;
    margin-left: 5px;
}

    /* ANIMATION EFFECTS */
.container-2 input#search:focus, .container-2 input#search:active{
    outline:none;
}
.container-2:hover input#search{
    outline:none; 
    width: 300px;
}

.container-2:hover .iconsearch{
    color: #93a2ad;
}

.sc-logo a {
    display: flex;
    height: 100px;
    align-items: center;

}

.scroll-logo {
    top: 0;
    left: 0px;
    border-style: none;
}

.logo a {
    display: flex;
    
}

.header-logo {
    height: auto;
    top: 0px;
    left: 0px;
    border-style: none;
    max-height: 100px;
    width: auto;
}

.flex-right {
    max-width: 100%;
    max-height: 100%;
}

.nav-text-a1, .nav-text-b1, .nav-text-c1 {
    justify-content: center;
    text-decoration: none;
    margin: 0 20px;
    display: block;
    color: rgb(255 255 255/80%);
    line-height: 80px;
    padding-top: 10px;
    font-weight: 700;
}


.nav-text-a1:after, .nav-text-b1:after, .nav-text-c1:after {
    content: ""; 
    display: block; 
    width: 0%; 
    border-bottom: 1px solid rgb(145 145 145);
    transition: .5s; 
    margin-top: -20px;
}

.nav-text-a1:hover:after, .nav-text-b1:hover:after, .nav-text-c1:hover:after {
    width: 100%; 
}

.navs {
    justify-content: right;
    width: 100%;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    list-style: none; 
    font-size: 15px;
    font-weight: bold;
}

#masthead {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.nav-text-h, .nav-text, .nav-text-s {
    justify-content: center;
    text-decoration: none;
    margin: 0 20px;
    display: block;
    color: rgb(40 40 40/90%);
    line-height: 80px;
    height: 100px;
    padding-top: 10px;
}

.nav-text-h {
    color: rgb(40 40 40/90%);
}


.nav-text-h:after, .nav-text:after, .nav-text-s:after  {
    content: ""; 
    display: block; 
    width: 0%; 
    border-bottom: 1.5px solid rgb(14 13 13);
    transition: .5s; 
    margin-top: 8px;
}

.nav-text-h:hover:after, .nav-text:hover:after, .nav-text-s:hover:after {
    width: 100%;
}

.nav-text-h:hover,.nav-text:hover, .nav-text-s:hover {
    color: rgb(46 197 124);
}

.nav-text-h1, .nav-text1, .nav-text-s1 {
    justify-content: center;
    text-decoration: none;
    margin: 0 20px;
    display: block;
    color: rgb(40 40 40/90%);
    line-height: 80px;
    height: 100px;
    padding-top: 10px;
    font-weight: 700;
}



.nav-text-h1:hover, .nav-text1:hover, .nav-text-s1:hover {
    color: rgb(46 197 124);
}


.nav-text-h1:after, .nav-text1:after, .nav-text-s1:after  {
    content: ""; 
    display: block; 
    width: 0%; 
    border-bottom: 1.5px solid rgb(14 13 13);
    transition: .5s; 
    margin-top: 8px;  
}

.nav-text-h1:hover:after, .nav-text1:hover:after, .nav-text-s1:hover:after {
    width: 100%;
}

.subnav-icon {
    font-size: 12px;
    color: rgb(171 165 165);
}

.subnavs, .subnav {
    display: none;
    list-style: none;
    position: absolute;
    top: 100%;
    min-width: 300px;
    padding: 20px 0 20px 7px;
    transition: opacity .25s;
    box-shadow: 1px 1px 15px rgba(0,0,0,0.15);
    border: 2px solid rgb(221 221 221);
    color: rgb(119 119 119);
    background-color: rgb(255 255 255);
    font-weight: normal;
}

.subnavs a, .subnav a {
    color: rgb(117 115 115);
    padding: 0 12px;
    line-height:  38px;
    text-decoration: none;
}

.menu-text {
    font-size: 15px;
}

.menu-item:hover  .menu-text:hover {
    color: rgb(46 197 124);
    padding-left: 20px;
    transition: all 0.3s ease;
}

#masthead > .header-inner {
    max-width: 95%;
}


.showing {
    width: 100%;
    height: 50px;
    background-color: rgb(249, 249, 249);
}

.showing-page {
    width: 1200px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.page-title {
    height: 100%;
    font-family: 'Mulish',sans-serif;
    font-size: 15px;
    color: rgb(27 25 25);
    align-items: center;
    display: flex;
}



.title-home {
    text-decoration: none;
    font-size: 15px;
    color: rgb(27 25 25);
    font-family: 'Mulish',sans-serif;
}

.divi {
    margin: 0 4.2px;
}

.title-home:hover {
    color: rgb(162 44 77);
}

#main {
    width: 100%;
    text-align: center;
}

section {
    padding: 30px 0;
    width: 100%;
}



.info {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.col {
    width: 50%;
    padding: 0 15px 30px;
}

.product-img {
    margin-bottom: 20px;
}

.img-mizunara {
    width: 100%;
    height: 95%;
}


.img-slider {
    display: flex;
    overflow: hidden;
}

.img-fill {
    padding: 0 10px;
    height: 160px;
    overflow: hidden;
}


.border {
    display: flex;
    overflow: hidden;
    border: 1px solid rgb(0 0 0/30%);
}


.fill-mizunara {
    width: 100%;
    height: 160px;
    transition: transform .6s,opacity .6s;
    margin-bottom: -5px;
}

.img-fill:hover .fill-mizunara{
    cursor: pointer;
    transform: translateY(-5px);
}

.col-inner > div {
    text-align: left;
}

h1 {
    font-size: 37px;
    font-family: 'Merriweather',sans-serif;
    font-weight: normal;
    color: rgb(27 25 25);
    margin-bottom: 25px;
}
.mizu-price {
    margin-bottom: 25px;
}

.mizu-provi, .mizu-dola {
    font-size: 26px;
    font-weight: normal;
    color: rgb(24 154 148);
    font-family: 'Mulish',sans-serif;
}

.mizu-text {
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: 0.03em;
    color: rgb(27 25 25);
    font-family: 'Mulish',sans-serif;
    margin-bottom: 25px;
}

form {
    margin-bottom: 40px;
    display: flex;
}

.quantity {
    height: 50px;
    display: flex;
}

.add, .apart {
    width: 35px;
    font-size: 25px;
    height: 100%;
}

input[type='button'] {
    overflow: hidden;
    background-color: rgb(249 249 249);
    text-shadow: 1px 1px 1px #fff;
    color: rgb(102 102 102);
    border: 1px solid rgb(221 221 221);
    text-transform: none;
    font-weight: normal;
    cursor: pointer;
    outline: 0;
}

.number {
    text-align: center;
    border-radius: 0 !important;
    outline: 0;
    font-size: 1em;
    border: 1px solid rgb(221 221 221);
}

.number {
    appearance: textfield;
    width: 45px;
    height: 100%;
}

.number::-webkit-outer-spin-button,.number::-webkit-inner-spin-button {
    -webkit-appearance:none;
}

.btn-purchase {
    width: 140px;
    margin-left: 30px;
    font-size: 17px;
    text-transform: uppercase;
    color: rgb(255 255 255);
    font-family: 'Mulish',sans-serif;
    border: none;
    background-color: rgb(0 0 0);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.is-divier {
    max-width:100%;
    height:1px;
    background-color:rgba(119, 119, 119, 0.17); 
    margin: 16px 0;
}

.posted-in, .share {
    font-size: 17px;
    color: rgb(27 25 25);
    font-family: 'Mulish',sans-serif;
    font-weight: bold;
}

.categories {
    text-decoration: none;
    font-weight: normal;
    color: rgb(37 34 34);
}

.categories:hover {
    color: rgb(162 44 77);
}

.form_icon {
    color: rgb(135 135 135);
    text-decoration: none;
    padding: 2px;
}

.desc_rev {
    background-color: rgb(249 249 249);
    padding-bottom: 40px;
}

.dr-fill {
    width: 1200px;
    margin: 0 auto;
}

.title-dr {
    display: flex;
    list-style: none;
    justify-content: center;
}

.title-desc {
    height: 40px;
    font-size: 25px;
    font-family: 'Mulish',sans-serif;
    font-weight: bolder;
    letter-spacing: 0.03em;
    margin: 0 15px;
    position: relative;
}
.title-rev {
    height: 40px;
    font-size: 25px;
    font-family: 'Mulish',sans-serif;
    letter-spacing: 0.03em;
    font-weight: bolder;
    margin: 0 15px;
    position: relative;
}

.text-dr {
    text-decoration: none;
    color: rgb(0 0 0/90%);
    cursor: pointer;
}

.text-drs {
    color: rgb(0 0 0/50%);
    text-decoration: none;
    cursor: pointer;
}

.text-dr::after, .text-drs::after {
    content: ""; 
    display: block; 
    width: 0%; 
    background-color: rgb(84 84 84);
    transition: all .3s;
    margin-top: 5px;
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    height: 1px;
}

.line::after, .lines::after {
    content: ""; 
    width: 100%;
    height: 1px;
    left: 0;
    display: block; 
    background-color: rgb(84 84 84);
    margin-top: 5px;
}

.text-dr:hover::after, .text-drs:hover::after {
    width: 100%; 
}

.title-dr:hover .line::after, .title-dr:hover .lines::after {
    width: 0%;
}

.describe {
    padding: 16px 0 0;
}

.desc-text {
    font-family: 'Mulish',sans-serif;
    font-size: 16px;
    color: rgb(76 76 76);
    line-height: 1.6;
    font-weight: 500;
    letter-spacing: 0.03em;
    text-align: left;
}

.review {
    display: none;
    padding-top: 16px;
}

.rev-content {
    text-align: left;
}

h3 {
    font-size: 22px;
    font-family: 'Merriweather',sans-serif;
    color: rgb(27 25 25);
    margin: 0 0 10px;
}

.rev-title > p {
    font-family: 'Mulish',sans-serif;
    font-size: 18px;
    color: rgb(76 76 76);
    margin: 10px 0;
}

.rev-box {
    width: 100%;
    border: 2px solid rgb(23 154 148);
    height: 500px;
    padding: 20px;
}

.boxs {
    padding: 15px 30px 30px;
    width: 100%;
    height: 100%;
}

label {
    font-size: 17px;
    font-family: 'Mulish',sans-serif;
    color: rgb(34 34 34);
    font-weight: bold;
}

.star {
    margin: 15px 0;
}

.star input{
    display: none;
}

.star label{
    font-size: 25px;
    color: rgb(221 221 221);
    padding: 0 10px 15px;
    transition: all 0.2s ease;
    float: right;
}

input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label{
    color: rgb(210 110 75);
    cursor: pointer;
}

input:checked ~ label{
    color: rgb(210 110 75);
}

input#rate-5:checked ~ label{
    color: rgb(210 110 75);
}

.stars:hover {
    color: rgb(210 110 75);
    cursor: pointer;
}

.stars {
    text-decoration: none;
    color: rgb(221 221 221);
    padding: 0 10px;
    border-right: 1px solid rgb(211 211 211);
}

textarea {
    border: 1px solid rgb(221 221 221);
    border-radius: 0;
    width: 100%;
    background-color: rgb(255 255 255);
    color: rgb(51 51 51);
    margin-top: 10px;
    outline: none;
    font-size: 16px;
    padding: 20px 20px 0;
}

.form-submit {
    width: 100%;
    margin-top: 20px;
}

.submit {
    width: 110px;
    height: 45px;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Mulish',sans-serif;
    font-weight: bolder;
    color: rgb(255 255 255);
    border: none;
    background-color: rgb(23 154 148);
    cursor: pointer;
}


.relateds {
    width: 580px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px 25px 15px;
}


.related-text {
    font-size: 25px;
    color: rgb(27 25 25);
    font-family: "Mulish", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

.related-text:hover {
    cursor: text;
    color: rgb(27, 25, 25);
}

.related-line {
    margin-left: auto;
    margin-right: auto;
    height: 2px;
    background-color: rgb(23 154 148);
    max-width: 7%;
    margin-top: 25px;
}

.list-product {
    width: 100%;
    height: 100%;
    padding: 30px 0;
}

.product-chivas {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding-bottom: 30px;
}

.st-chivas {
    width: 1200px;
    height: 510px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    
}

.chivas {
    width: 300px;
    padding-bottom: 10px;
}

.chivas:hover .buy, .chivas:hover .fa-icon{
    display: block;
    cursor: pointer;
}

.chivas:hover .price, .chivas:hover .price-d{
    display: none;
    cursor: pointer;
}

.fa-icon {
    font-size: 20px;
    position: absolute;
    float: right;
    margin-left: 250px;
    display: none;
    animation: icon 0.5s;
    color: rgb(87, 86, 86);
 }
 
@keyframes icon {
     0% {
         transform: scale(0);
     }
     100% {
         transform: scale(1);
     }
}

.chivas-logo {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.chivas-logo:hover {
    cursor: pointer;
}

.chivas-text {
    padding: 10px 10px 0;
    height: 95px;
    text-align: center;
}

.chivas-name {
    width: 100%;
    height: 40px;
}

.chivas-link {
    font-family: "Courgette",sans-serif;
    text-decoration: none;
    font-size: 15px;
    color: rgb(37 34 34);
}

.chivas-price {
    height: 40px;
}

.price, .price-d {
    font-family: "Mulish",sans-serif;
    font-size: 14px;
    color: rgb(148 148 148);
    cursor: pointer;
}

.buy {
    color: rgb(162 44 77);
    text-decoration: none;
    border-bottom: 1px solid rgb(162 44 77);
    font-size: 14px;
    font-weight: 700;
    font-family: "Mulish",sans-serif;
    padding-bottom: 3px;
    cursor: pointer;
    display: none;
    width: 61px;
    margin-left: auto;
    margin-right: auto;
    animation: buy 0.5s;
}

@keyframes buy {
    0% {
        margin-top: 7px;
    }
    100% {
        margin-top: 0;
    }
}

#footer {
    width: 100%;
    background-color: rgb(0 0 0);
}

.ft-st {
    width: 100%;
    padding-top: 60px;
}

.ft {
    width: 100%;
    height: 175px;
}

.ft-logo {
    width: 1200px;
    height: 145px;
    margin-left: auto;
    margin-right: auto;
}

.ft-st-logo {
    width: 308px;
    height: 110px;
    margin-left: auto;
    margin-right: auto;
}

.logo-img {
    width: 308px;
    height: 97px;
}

.ft-icon {
    width: 100%;
    height: 32px;
    text-align: center;
    font-size: 25px;
}

.icons {
    color: rgb(135 135 135);
    text-decoration: none;
    padding: 7px;
}

.icons:hover {
    cursor: pointer;
    color: rgb(162,44,77);
}

.ft-nd {
    width: 100%;
    padding-top: 30px;
}

.ft-border {
    width: 1200px;
    height: 275px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}

.ft-box {
    width: 200px;
    height: 275px;
}

.menu {
    width: 165px;
    margin-left: auto;
    margin-right: auto;
    height: 275px;
}

.menu-title {
    color: rgb(255 255 255 );
    font-size: 16px;
    font-family: "Mulish",sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}

.menu-line {
    height: 2px;
    width: 38px;
    background-color: rgb(255 255 255);
    margin: 10px 0px;
}

.col-footer {
    list-style: none; 
    font-family: "Mulish",sans-serif;
    margin-top: 20px;
}

.col-text {
    width: 100%;
    height: 27px;
    align-items: center;
    font-size: 14px;
}

.col-text:hover {
    cursor: pointer;
}

.text-link {
    text-decoration: none;
    color: rgb(255 255 255/60%);
}

.text-link:hover {
    text-decoration: underline;
    color: rgb(255 255 255);
}

.ft-box-b {
    width: 400px;
    height: 275px;
    color: rgb(255 255 255/60%);
}

.wrapper-title {
    font-size: 16px;
    font-family: "Mulish",sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}

.menu-lines {
    height: 2px;
    width: 38px;
    background-color: rgb(255 255 255);
    margin-top: 10px;
    margin-bottom: 15px;
}

.p-text {
    width: 165px;
    height: 27px;
    align-items: center;
    font-size: 14px;
    font-family: "Mulish",sans-serif;
}

.col-icon {
    margin-right: 5px;
}

.location-text {
    height: 50px;
}

.col-img {
    margin-top: 10px;
}

.ft-rd {
    width: 100%;
}

.end {
    width: 1200px;
    height: 59px;
    margin-left: auto;
    margin-right: auto;
    border-top: 1px solid  rgb(40, 39, 39);
    color: rgb(255 255 255 / 50%);
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 14px;
    font-family: "Mulish",sans-serif;
}

.end-link {
    color: rgb(255 255 255 );
    text-decoration: none;
    padding-left: 5px;
}

.end-link:hover {
    text-decoration: underline;
}

.top-up {
    width: 38.8px;
    height: 38.8px;
    cursor: pointer;
    position: fixed;
    color:#46484a;
    bottom: 20px;
    right: 15px;
    display: none;
    border: 2px solid currentColor;
    border-radius: 9999999px;
    text-align: center;
    animation: top 1s;
}

@keyframes top {
    0%{
        opacity: 0;
        margin-bottom: -50px;
    }
    100% {
        opacity: 1;
        margin-bottom: 0;
    }
}

.top-up:hover {
    background-color:  rgb(23 154 148);
    color: rgb(255 255 255);
    border-color: transparent;
}

.icon-top {
    font-size: 15px;
    margin-top: 11px;
}

.icon-top:hover {
    color: rgb(255 255 255 );
}

